<ul>
  <li>
     Megasegretario Generale: <a href="mailto:giussani.giuseppe@fastwebnet.it">Giuseppe Giussani</a>
  </li>
  <li>
     Webmaster: <a href="mailto:daniele@orlandi.com">Daniele Orlandi</a>
  </li>
</ul>
