<h1>Regolamento CAMPIONATO CSVVA</h1> Edizione 2009

<h2>SCOPO:</h2>
<p>
Promuovere il volo di distanza nelle Alpi e designare i campioni di distanza del CSVVA.
</p>

<h2>PARTECIPANTI:</h2>
<p>
Possono partecipare alla gara tutti i piloti Italiani e Stranieri regolarmente iscritti all’ACAO
</p>

<h2>ISCRIZIONI:</h2>
<p>
L’iscrizione avviene automaticamente con l’invio della prima documentazione di volo accettando
quindi incondizionatamente il presente regolamento.
</p>
<p>
L’iscrizione è gratuita.
</p>

<h2>ALIANTI:</h2>
<p>
Sono ammessi tutti i tipi di alianti e alianti motorizzati, mono e biposto in
classe unica differenziati per handicap FAI.
Tutti i tipi di alianti motorizzati devono azionare il motore almeno un minuto
prima della partenza a dimostrazione del non utilizzo del motore durante la
prestazione volovelistica.
</p>
<p>
Nel caso dei biposto il volo verrà assegnato sempre al pilota in comando.
Qualora il 2° pilota appartenga ad una categoria superiore al 1° pilota il volo
verrà assegnato sempre al pilota più titolato purché ne venga fatta espressa
richiesta entro una settimana dalla presentazione altrimenti il volo non sarà
tenuto valido per nessuno dei due piloti.

<h2>CLASSI PILOTI</h2>
<p>
Il campionato suddivide i piloti in 4 categorie:
</p>
<ul>
<li>JUNIOR: piloti non nazionali che all’invio del primo volo NON ABBIANO raggiunto le 300 ore di volo</li>
<li>EXPERT: piloti non nazionali che all’invio del primo volo ABBIANO superato le 300 ore di volo</li>
<li>MASTER: piloti di categoria nazionale</li>
<li>SUPER MASTER: piloti di categoria nazionale che risultano essere nei primi
 10 dell’<a href="http://www.fivv.org/?cat=4">algoritmo per singola categoria</a></li>
</ul>
<p>
In ogni classe al termine della gara verrà nominato un campione CSVVA a
condizione che ci sia un numero di partecipanti non minore di otto. Qualora
non si raggiungesse il numero minimo nelle categorie dei piloti non nazionali,
le categorie junior, expert e master potranno essere accorpate.
</p>
<p>
Ogni pilota partecipante al campionato può chiedere di essere ammesso a
partecipare ad una classe superiore a quella di appartenenza.
</p>
<p>
Verranno presi in considerazione i voli effettuati dal 1 marzo al 30 settembre
2009 con decollo da Calcinate e con una distanza percorsa minima di 50 km,
attorno ad un massimo di 3 punti.
</p>
<p>
I voli del Campionato CSVVA possono essere utilizzati anche per altre gare.
</p>

<h2>VALUTAZIONE DEI VOLI:</h2>
<p>
I voli saranno valutati tramite il SW See You (versione 3.81). Il punteggio di
ogni volo sarà calcolato dividendo i km risultanti volati per l’handicap
relativo all’aliante usato per entrambe le classifiche. 
(<a href="http://www.fivv.org/sport/OLC%20CID%202009/Annesso_A_OLC_CID.pdf">Annesso OLC CID</a>)
</p>
<p>
I punti vengono arrotondati al valore intero.
</p>
<p>
Tutti i voli sono considerati “Liberi“ cioè senza pre-dichiarazione e sono
valutati tutti con lo stesso criterio sopra esposto.
</p>
<p>
Sono ammessi massimo 3 punti di virata.
</p>
<p>
Per dubbi concernenti la valutazione dei voli si rimanda al regolamento CID 2008.
</p>
<p>
I voli possono essere controllati unicamente con il registratore di volo
(logger). Pertanto tutti gli alianti dovranno essere dotati di apposito
registratore.
</p>
<p>
I voli del Campionato CSVVA potranno anche essere utilizzati per altre gare
quali OLC/CID.
</p>

<h2>INVIO VOLI ALLA DIREZIONE DI GARA:</h2>
<p>
I voli possono essere consegnati alla direzione di gara via internet al sito al
seguente indirizzo: <a href="mailto:campionatocsvva@fastwebnet.it">campionatocsvva@fastwebnet.it</a>
oppure dando fisicamente il logger o altro supporto elettronico ai direttori di
gara (NON alla segreteria dell’ACAO) entro e non oltre 6 (sei) giorni dalla
data di effettuazione del volo. Le classifiche provvisorie saranno pubblicate
sul sito <a href="http://www.acao.it/">www.acao.it</a>.
</p>

<h2>DIREZIONE GARA:</h2>
<p>
Fanno parte della Direzione Gara i seguenti piloti:
<ul>
<li>Ercole ROSSI</li>
<li>Alberto SIRONI</li>
<li>Giuseppe GIUSSANI</li>
</ul>
</p>

<h2>CLASSIFICHE:</h2>
<p>
Per ogni categoria di piloti verrà redatta una classifica sulla base della
somma dei punteggi dei 6 voli migliori di ogni pilota, di cui ALMENO 3
effettuati nel periodo 1° Giugno – 30 Settembre 2009.
</p>
<p>
In ogni classe con almeno 8 partecipanti, al termine della gara verrà
nominato un campione CSVVA. Qualora non si raggiungesse il numero minimo nelle
categorie dei piloti non nazionali, le categorie junior, expert e master potranno
essere accorpate.
</p>
<p>
Verrà redatta una classifica per ogni categoria:
Somma del punteggio dei 6 voli migliori di cui ALMENO 3 effettuati nel periodo 
1° Giugno – 30 Settembre 2009
</p>

<h2>PREMI:</h2>
<p>
<ul>
  <li><strong>Medaglia ORO</strong>: Al primo classificato in ogni categoria.</li>
  <li><strong>Medaglia ARGENTO</strong>: Al secondo classificato in ogni categoria.</li>
  <li><strong>Medaglia BRONZO</strong>: Al terzo classificato in ogni categoria.</li>
</ul>
</p>
<p>
Ad ogni partecipante verrà consegnato un premio di partecipazione.
</p>

<h2>TROFEO ”FRANCESCO TAMBORINI”</h2>
<p>
Il trofeo sarà assegnato al pilota che avrà consegnato il maggior numero di
voli validi.
</p>
<p>
Il concorrente che vincerà il trofeo per tre volte anche non consecutive, si
aggiudicherà definitivamente il trofeo.
</p>

<h2>PREMIAZIONE:</h2>
<p>
La premiazione avverrà nel corso della cena annuale dell’ACAO a Calcinate.
</p>
<p>
Il CSVVA e l’ACAO declinano ogni responsabilità per danni che possano derivare
a persone o cose in conseguenza della competizione, così come il rispetto delle
regole dell'aria che ciascun pilota comandante dovrà rispettare durante lo
svolgimento del volo.
</p>

<p>
Calcinate, 14 febbraio 2009
</p>

