<h1>Campionati</h1>

<% if !@targets.empty? then %>
  <table class="standard championship">
    <caption>Campionati</caption>
    <tr>
      <th>Nome</th>
      <th>Partecipanti</th>
    </tr>
    <% for r in @targets do %>
    <tr>
      <td class="name">
        <%= link_to(r.name, r) %>
      </td>
      <td class="count"><%=h r.pilots.count %></td>
      <td class="valid_from"><%=h r.valid_from.strftime("%d-%m-%Y") %></td>
      <td class="valid_to"><%=h r.valid_to.strftime("%d-%m-%Y") %></td>
    </td>
    </tr>
    <% end %>
  </table>
<% end %>
