<table class="standard championship">
  <tr>
    <th>Nome</th>
    <td class="name">
      <%=h @championship.name %>
    </td>
  </tr>
  <tr>
    <th>Classifiche</th>
    <td class="rankings">
      <% @championship.rankings.each do |ranking| %>
        <%= link_to ranking.name, ranking %><br />
      <% end %>
    </td>
  </tr>
</table>
