<table>
<%= fields_for :new_plane do |f| %>
<tr>
  <th>Tipo</th>
  <td>
    <%= f.select :plane_type_id,
                   PlaneType.order('name ASC').collect { |p|
                      [ p.name, p.id ] }, { },
                     :onchange => remote_function(
                      :url => { :action => 'new_plane_type_changed' },
                      :with => "'plane_type_id=' + $('new_plane_plane_type_id').value",
                      :method => :get ) %>
  </td>
</tr>
<tr>
  <th><%= f.label :registration, 'Marche' %></th>
  <td><%= f.text_field :registration %></th>
</tr>
</table>
<% end %>
