<div id="edit_flight_dialog" title="Edit flight" style="display: none">
  <form class="ui-widget">
  <div style="position: absolute; left: 0px; width: 350px">
    <fieldset class="ui-widget-content">
      <legend>Dati del volo</legend>

      <label for="plane">Marche Aliante</label>
      <input type="text" name="plane" id="plane" size="10" onkeyup="this.value=this.value.toUpperCase()" style="text-transform: uppercase;" />
      <input type="hidden" name="plane_id" id="plane_id" />

      <div id="plane_type_configuration_div" style="display: none">
        <label for="plane">Configurazione</label>
        <select name="plane_type_configuration_id" id="plane_type_configuration_id">
        </select>
      </div>

    </fieldset>

    Note:<br />
    <textarea id="notes_public" name="notes_public" rows="6" cols="70" style="font-size: 70%"></textarea>
  </div>

  <div style="position: absolute; left: 350px; width: 450px;">
    Campionati:<br />
    <fieldset id="csvva_fieldset" class="ui-widget-content">
      <legend>
        <input type="checkbox" name="csvva_member" value="yes" id="csvva_member" />
        <label for="csvva_member">CSVVA:</label>
      </legend>
      <input type="hidden" name="csvva_id" id="csvva_id" />
      <div id="csvva_fieldset_contents" style="display: none">
        <label for="csvva_distance">Distanza</label>
        <input type="text" name="csvva_distance" id="csvva_distance" />
      </div>
    </fieldset>

    <fieldset id="cid_fieldset" class="ui-widget-content">
      <legend>
        <input type="checkbox" name="cid_member" value="yes" id="cid_member" />
        <label for="cid_member">CID:</label>
      </legend>

      <input type="hidden" name="cid_id" id="cid_id" />

      <div id="cid_fieldset_contents" style="display: none">
        <div id="cid_ranking_div">
          <label for="cid_ranking">Classifica</label>
          <select id="cid_ranking">
            <option value=""></option>
            <option value="naz_open">Nazionale Open</option>
            <option value="naz_15m">Nazionale 15 m</option>
            <option value="naz_13m5">Nazionale 13.5 m</option>
            <option value="naz_club">Nazionale Club</option>
          </select>
        </div>

        <table id="cid_calcs">
        <tr>
          <td><label for="cid_distance">Distanza</label></td>
          <td><input type="text" name="cid_distance" id="cid_distance" size="6" /> km</td>
          <td id="cid_distance_points" class="points"></td>
        </tr>

        <tr>
          <td><label for="cid_task_type">Tipo</label></td>
          <td>
            <select id="cid_task_type">
              <option value=""></option>
              <option value="butterfly">Farfalla</option>
              <option value="simple_triangle">Triangolo semplice</option>
              <option value="round_trip">Andata e ritorno</option>
              <option value="fai_triangle">Triangolo FAI</option>
              <option value="straight_line">Linea retta</option>
            </select>
          </td>
          <td id="cid_task_type_points" class="points"></td>
        </tr>

        <tr>
          <td><label for="cid_task_eval">Tema</label></td>
          <td>
            <select id="cid_task_eval">
              <option value=""></option>
              <option value="free">Libero</option>
              <option value="not_completed">Dichiarato ma non completato</option>
              <option value="completed">Dichiarato e completato</option>
            </select>
          </td>
          <td id="cid_task_eval_points" class="points"></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td id="cid_total_points" class="points total_points"></td>
        </tr>
        </table>
     </div>
    </fieldset>
  </div>
  </form>
</div>

<div id="save_failed_dialog" title="Errore" style="display: none">
  <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
  <div></div>
</div>

<script type="text/javascript">
//<![CDATA[

function pilot_changed(pilot)
{
  if (!pilot) {
    $('#pilot_id').val('');
    $('#csvva_fieldset').hide();
    $('#cid_fieldset').hide();
    return;
  }

  $('#pilot_id').val(pilot.id);

  cships = {};
  $.each(pilot.championship_pilots, function(index, value) {
    cships[value._type] = value;
  });

  csvva = cships['Championship::Pilot::Csvva2011'];
  if (csvva) {
    $('#csvva_member').prop('checked', true);
    $('#csvva_fieldset').fadeIn();
  } else {
    $('#csvva_member').prop('checked', false);
    $('#csvva_fieldset').fadeOut();
  }

  cid = cships['Championship::Pilot::Cid2011'];
  if (cid) {
    $('#cid_ranking_div').toggle(cid.cid_category != 'prom');
    $('#cid_pilot_category').val(cid.cid_category == 'prom' ? 'Promozione' : 'Nazionale');
    $('#cid_member').prop('checked', true);
    $('#cid_fieldset').fadeIn();
  } else {
    $('#cid_member').prop('checked', false);
    $('#cid_fieldset').fadeOut();
  }
}

var current_plane = null;

function plane_changed(plane)
{
 current_plane = plane;

  if (!plane) {
    $('#plane_type_div').fadeIn();
    return;
  }

  $('#plane_type_div').fadeOut();
  $('#plane').val(plane.registration);
  $('#plane_id').val(plane.id);

  update_configurations(plane.plane_type.configurations);
}

function update_configurations(configurations)
{
  if (configurations.length > 0) {
    $('#plane_type_configuration_div').fadeIn();
    $('option', $('#plane_type_configuration_id')).remove();
    $.each(configurations, function(key, val) {
      $('#plane_type_configuration_id').append($('<option></option>').attr('value', val.id).text(val.name));
    });
  } else {
    $('#plane_type_configuration_div').fadeOut();
  }
}

function update_cid_calcs()
{
  $('#cid_calcs .points').html('');

  if (!current_plane)
    return;

  var config;
  $.each(current_plane.plane_type.configurations, function(index, value) {
    if (value.id == $('#plane_type_configuration_id').val()) {
      config = value;
      return false;
    }
  });

  dist = parseFloat($('#cid_distance').val().replace(/,/, '.'));
  if (!dist)
    return;

  var handicap;
  if ($('#cid_ranking').val() == 'naz_club')
    handicap = config ? config.club_handicap : current_plane.plane_type.club_handicap;
  else
    handicap = config ? config.handicap : current_plane.plane_type.handicap;

  if (!handicap) {
    $('#cid_distance_points').html('Handicap non disponibile');
    return;
  }

  var pts = dist / handicap;
  $('#cid_distance_points').html(dist + ' / ' + handicap + ' = ' + Math.round(pts));

  var mult = 1;
  switch($('#cid_task_type').val()) {
  case 'round_trip': mult = 1.3; break;
  case 'fai_triangle': mult = 1.4; break;
  case 'straight_line': mult = 1.6; break;
  case 'simple_triangle':
    if ($('#cid_task_eval').val() != 'free')
      mult = 1.2;
  }

  $('#cid_task_type_points').html(Math.round(pts) + ' * ' + mult + ' = ' + Math.round(pts * mult));
  pts = pts * mult;

  mult = 1;
  if ($('#cid_task_eval').val() == 'completed')
    mult = 1.1;

  $('#cid_task_eval_points').html(Math.round(pts) + ' * ' + mult + ' = ' + Math.round(pts * mult));
  pts = pts * mult;

  $('#cid_total_points').html(Math.round(pts));
}

$(function() {

//  $('form').form();

  $('#cid_member').click(function(e) {
    if (e.target.checked)
      $('#cid_fieldset_contents').fadeIn();
    else
      $('#cid_fieldset_contents').fadeOut();
  });

  $('#csvva_member').click(function(e) {
    if (e.target.checked)
      $('#csvva_fieldset_contents').fadeIn();
    else
      $('#csvva_fieldset_contents').fadeOut();
  });

  $('#cid_distance').change(function() { update_cid_calcs(); });
  $('#cid_task_type').change(function() { update_cid_calcs(); });
  $('#cid_task_eval').change(function() { update_cid_calcs(); });
  $('#cid_ranking').change(function() { update_cid_calcs(); });
  $('#plane_type_configuration_id').change(function() { update_cid_calcs(); });

  $('#plane').autocomplete({
    source: function( request, response ) {
      $('#plane').spinner();
      $.ajax({
        url: '/planes',
        dataType: 'json',
        data: {
          view: 'combo',
          flt: 'combo',
          sort: 'registration',
          search: request.term,
          limit: 10
        },
        success: function(data) {
          $('#plane').spinner('remove');
          response( $.map(data, function(item) {
            return {
              label: item.registration,
              value: item.registration,
              id: item.id,
              plane_type: item.plane_type
            }
          }));
        }
      });
    },
    minLength: 2,
    select: function(event, ui) { plane_changed(ui.item); },
    change: function(event, ui) {
      if (!ui.item) {
        $.ajax({ url: '/planes', dataType: 'json',
          data: { view: 'combo', flt: 'combo', search: $('#plane').val(), limit: 1 },
          success: function(data) {
            if (data.length)
              plane_changed(data[0]);
            else
              plane_changed(null);
          }
        });
      }
    },
  }).data('autocomplete')._renderItem = function(ul, item) {
        return $('<li></li>')
        .data("item.autocomplete", item)
        .append('<a><span class="ac_p_reg">' + item.label + '</span>' + item.plane_type.name + '</a>')
        .appendTo(ul);
  };

  $("#edit_flight_dialog").dialog({
    autoOpen: false,
    height: 400,
    width: 800,
    modal: true,
    open: function() {
      $('#edit_flight_dialog').spinner({ position: 'center', hide: true });

      $.ajax({
        url: '/flights/' + $('#edit_flight_dialog').data('resource_id'),
        dataType: 'json',
        data: {
          view: 'edit',
        },
        success: function(resource) {
          $('#edit_flight_dialog').data('resource', resource);

          pilot_changed(resource.pilot);
          plane_changed(resource.plane);

          $('#plane_type_configuration_id').val(resource.plane_type_configuration_id);
          $('#notes_public').val(resource.notes_public);

          cships = {};

          $.each(resource.championship_flights, function(index, value) {
            cships[value._type] = value;
          });

          csvva = cships['Championship::Flight::Csvva2011'];
          if (csvva) {
            if (csvva.status == 'approved') {
              $('#csvva_fieldset_contents input').prop('disabled', true);
            }

            $('#csvva_fieldset_contents').show();
            $('#csvva_id').val(csvva.id);
            $('#csvva_member').prop('checked', true).button('refresh');
            $('#csvva_distance').val(csvva.distance / 1000);
          } else {
            $('#csvva_fieldset_contents').hide();
            $('#csvva_id').val('');
            $('#csvva_member').prop('checked', false).button('refresh');
          }

          cid = cships['Championship::Flight::Cid2011'];
          if (cid) {
            if (cid.status == 'approved') {
              $('#cid_fieldset_contents input').prop('disabled', true);
            }

            $('#cid_fieldset_contents').show();
            $('#cid_id').val(cid.id);
            $('#cid_member').prop('checked', true).button('refresh');
            $('#cid_distance').val(cid.distance / 1000);
            $('#cid_ranking').val(cid.cid_ranking);
            $('#cid_task_eval').val(cid.data.task_eval);
            $('#cid_task_type').val(cid.data.task_type);
          } else {
            $('#cid_fieldset_contents').hide();
            $('#cid_id').val('');
            $('#cid_member').prop('checked', false).button('refresh');
          }

          update_cid_calcs();

          $('#edit_flight_dialog').spinner('remove');
        },
        error: function(resource) {
          $('#edit_flight_dialog').spinner('remove');
          alert('Errore lettura oggetto');
        }
      });
    },
    close: function() {
    },
    buttons: {
      'Salva': function() {

        $('.ui-dialog-buttonpane').spinner({ position: 'center', hide: true });

//        resource = $('#edit_flight_dialog').data('resource');
        resource = {};
        resource.plane_id = $('#plane_id').val();

        resource.notes_public = $('#notes_public').val();

        resource.plane_type_configuration_id = $('#plane_type_configuration_id').val();

        resource.championship_flights_attributes = [];

        if ($('#cid_member').prop('checked')) {
          var cid = {};
          if ($('#cid_id').val())
            cid.id = $('#cid_id').val();

          cid._type = 'Championship::Flight::Cid2011';
          cid.championship_id = $('#edit_flight_dialog').data('cid_cship_id');
          cid.status = 'pending';
          cid.distance  = parseFloat($('#cid_distance').val().replace(/,/, '.')) * 1000;
          cid.cid_ranking = $('#cid_ranking').val();
          cid.task_eval = $('#cid_task_eval').val();
          cid.task_type = $('#cid_task_type').val();
          resource.championship_flights_attributes.push(cid);
        } else if ($('#cid_id').val()) {
          var cid = {};
          cid.id = $('#cid_id').val();
          cid._destroy = true;
          resource.championship_flights_attributes.push(cid);
        }

        if ($('#csvva_member').prop('checked')) {
          var csvva = {};

          if ($('#csvva_id').val())
            csvva.id = $('#csvva_id').val();

          csvva._type = 'Championship::Flight::Csvva2011';
          csvva.championship_id = $('#edit_flight_dialog').data('csvva_cship_id');
          csvva.status = 'pending';
          csvva.distance  = parseFloat($('#csvva_distance').val().replace(/,/, '.')) * 1000;
          resource.championship_flights_attributes.push(csvva);
        } else if ($('#csvva_id').val()) {
          var csvva = {};
          csvva.id = $('#csvva_id').val();
          csvva._destroy = true;
          resource.championship_flights_attributes.push(csvva);
        }

        $.ajax({
          url: '/flights/' + $('#edit_flight_dialog').data('resource_id'),
          dataType: 'json',
          type: 'PUT',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(resource),
          success: function(data) {
            window.location.reload();
          },
          error: function(data) {
            $('.ui-dialog-buttonpane').spinner('remove');
            var ex = $.parseJSON(data.responseText);
            var msg = '';

            var field_names = {
              'championship_flights.cid_ranking': 'Classifica CID',
              'championship_flights.task_eval': 'Valutazione Tema CID',
              'championship_flights.task_type': 'Tipo di tema CID',
              'championship_flights.task_completed': 'Tema CID completato',
              'championship_flights.distance': 'Distanza',
            };

            $.each(ex.per_field_msgs, function(k, v) {
               msg += '<li>Il campo <strong>' + field_names[k] + '</strong> ' + v + '</li>';
            });

            $('#save_failed_dialog div:first').attr('title', ex.short_msg);
            $('#save_failed_dialog div:first').html('<ul>' + msg + '</ul>');
            $('#save_failed_dialog').dialog('open');
          }
        });
      },
      'Annulla': function() {
        $(this).dialog('close');
      }
    },
  });

  $('#edit_flight_dialog').data('resource_id', <%= @target.id %>);
  $('#edit_flight_dialog').data('cid_cship_id', <%= Championship.find_by_symbol(:cid_2011).id %>);
  $('#edit_flight_dialog').data('csvva_cship_id', <%= Championship.find_by_symbol(:csvva_2011).id %>);

  $('#save_failed_dialog').dialog({
    autoOpen: false,
    height: 300,
    width: 500,
    modal: true,
    buttons: { 'Ok': function() { $(this).dialog('close'); } },
  });

});

//]]>
</script>
