<p>
  Attenzione, l'indirizzo e-mail <strong><%= @identity.qualified %></strong> è già presente!
</p>
<p>
  Ciò può essere dovuto ad una precedente registrazione o alla registrazione ad un altro campionato.
</p>
<p>
  Loggati nel sito e iscriviti al campionato se non sei già iscritto.
</p>
