<div class="body_contents">
<table class="standard pilot">
  <caption>Pilota</caption>
  <tr>
    <th>Nome</th>
    <td class="name">
       <%= @pilot.person.name %>
    </td>
  </tr>
  <tr>
    <th>Classifiche</th>
    <td>
      <ul>
      <% for x in @pilot.rankings do %>
        <li><%= link_to(x.name, x) %></li>
      <% end %>
      </ul>
    </td>
  </tr>
</table>
</div>
