<div class="body_contents">
<ul>
  <li>
     Informazioni generiche: <a href="mailto:info@cidvv.it">info@cidvv.it</a>
  </li>
  <li>
     Validazione voli: <a href="mailto:voli@cidvv.it">voli@cidvv.it</a>
  </li>
  <li>
     Webmaster: <a href="mailto:daniele@orlandi.com">Daniele Orlandi</a>
  </li>
</ul>
</div>
