/*
*= require ../common
*= require_self
*/

div#header
{
 height: 74px;
 background: #3695cd image-url('csvva/header.jpg') no-repeat left top;
}

div#header > div#text
{
 display: none;
}

div.header > div#right_text
{
 font-size: 150%;
}

div#body
{
 top: 74px;
 left: 163px;
}

div#menu
{
 position: absolute;
 width: 163px;
 top: 74px;
 background: #97cce9 image-url('csvva/menu_sky.jpg') no-repeat left top;
 text-shadow: black 0.1em 0.1em 0.2em;
 font-size: 90%;
}

div#menu div.logo
{
 margin: 1em;
 text-align: center;
}

div#menu ul
{
 list-style-type: none;
 margin: 0;
}

div#menu > ul > li
{
 color: yellow;
}

div#menu ul > li:hover
{
}

div#menu ul > li a
{
 color: white;
}

div#menu ul > li a:hover
{
 color: #700;
 background-color:  transparent;
}

div.csvva_tag
{
}
