body {background-color: #fff; color: #333; margin: 0; padding: 0; font-family: verdana, arial, helvetica, sans-serif; font-size: 4mm; height: 100%}
html {height: 100%}
a {text-decoration: none; color: #00f}
pre {background-color: #eee; padding: 10px; font-size: 11px}
img {border: none}
div.header {position: absolute; top: 0; left: 0; margin: 0; width: 100%; height: 4em}
div.header_text {padding: 0 1em 0 1em; background-color: #ddd; font-size: 300%; font-weight: bold}
div#menu {position: absolute; width: 13em; left: 0; top: 4em; background-color: #eee}
div#menu div.logo {margin: 1em; text-align: center}
div#menu ul {list-style-type: none; padding: 1em; margin: 0}
div#menu ul > li {}
div#menu ul > li a:hover {background-color: #faa}
div#menu div.userdata {margin: 0em -0.8em 0em -0.8em; background-color: #cfc; border: solid 3px #aca; padding: 0.5em; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
div#body {position: absolute; left: 13em; right: 0; top: 4em; padding: 1em}
div.errorExplanation {background-color: #fdd; border: solid 3px #ecc; padding: 1em; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
div.autocomplete {width: 350px; background: #fff}
div.autocomplete ul {border:1px solid #888; margin:0; padding:0; width:100%; list-style-type: none}
div.autocomplete ul li {margin:0; padding:3px}
div.autocomplete ul li.selected {background-color: #ffb}
div.autocomplete ul strong.highlight {color: #800; margin:0; padding:0}
div.map_container {background-color: #eee; margin-bottom: 1em; padding: 5px; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
div.flight_photos_box {background-color: #eee; margin-bottom: 1em; padding: 5px; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
table.standard {background-color: #eee; margin-bottom: 1em; padding: 5px; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
table.standard > caption {}
table.standard > tbody > tr {background-color: #ddd}
table.standard > tbody > tr > th {padding: 0.1em 0.5em 0.1em 0.5em; text-align: left}
table.standard > tbody > tr > td {padding: 0.1em 0.5em 0.1em 0.5em}
table.standard > tbody > tr > td.name {text-align: left}
table.standard > tbody > tr > td.count {text-align: right}
table.ranking {}
table.ranking > caption {-webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
table.ranking > caption > span.generated_at {font-size: 75%}
table.ranking {}
table.ranking > tbody > tr > td.number {text-align: right}
table.cir_spd_ranking > tbody > tr > td {cursor: hand}
table.cir_spd_ranking > tbody > tr > td:hover {background-color: #f99}
table.cir_speed > tbody > tr.record {background-color: #ff0}
table.approvals > tbody > tr > th {text-align: left; font-weight: normal}
table.flight {}
table.flights {}
table.flights > tbody > tr > td.rankings {margin: 0; padding: 0 5px 0 5px}
table.flights > tbody > tr > td.downloadicons {margin: 0; padding: 0 5px 0 5px}
table.pilots {}
table.pilot {}
table.planes {}
table.plane_types {}
table.junior > caption {background-color: #cfc}
table.expert > caption {background-color: #ccf}
table.master > caption {background-color: #fcc}
table.flight_calendar > tbody > tr > td {vertical-align: top; height: 2em}
table.flight_calendar > tbody > tr > td > span.dom {font-size: 50%; vertical-align: top; margin-left: -1em; margin-top: -0.5em; margin-right: 0.5em}
table.flight_calendar > tbody > tr > td > span.cnt {vertical-align: top; font-weight: bold}
table.flight_calendar > tbody > tr > td.empty {background-color: #eee}
table.flight_calendar > tbody > tr > th {background-color: #9c9}
table.flight_calendar > tbody > tr > td.d5 {background-color: #ebb}
table.flight_calendar > tbody > tr > td.d6 {background-color: #ebb}
table.flight_calendar > tbody > tr > td.today {border: solid 3px red}
div.edit_box {background-color: #fdd; border: solid 3px #ecc; padding: 1em; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  float: right; clear: none}
.msg .x-box-mc {font-size:14px}
#msg-div {position:absolute; left:35%; top:10px; width:250px; z-index:20000}
div.menulogin {font-size: 70%; background-color: #cfc; border: solid 3px #aca; padding: 1em; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
div.menulogin input {font-size: 80%}
form.standard {background-color: #cfc; border: solid 3px #aca; padding: 1em; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
form#send_flight_form {}
div#new_plane_div {}
div#new_plane_type_div {}
div#photo_geotagging_select_div {background-color: #cfc; border: solid 3px #aca; padding: 1em; -webkit-border-radius: 8px;  -moz-border-radius: 8px;  }
img.ranking_icon_pending {opacity: 0.5}
img.ranking_icon_invalid {background-color: #f77}