<div class="body_contents">
<%= render :partial => "rankings/csvva_2011/show",
           :locals => {
             :ranking => Ranking.find_by_sym("csvva_junior_2011"),
             :limit => 3 } %>
<%= render :partial => "rankings/csvva_2011/show",
           :locals => {
             :ranking => Ranking.find_by_sym("csvva_expert_2011"),
             :limit => 3 } %>
<%= render :partial => "rankings/csvva_2011/show",
           :locals => {
             :ranking => Ranking.find_by_sym("csvva_master_2011"),
             :limit => 3 } %>
<%= render :partial => "rankings/csvva_2011/show",
           :locals => {
             :ranking => Ranking.find_by_sym("csvva_supermaster_2011"),
             :limit => 3 } %>
</div>
