<div class="body_contents">
<% if !@targets.empty? then %>
  <table class="planes table table-striped">
    <caption>Alianti</caption>
    <thead>
      <tr>
        <th>Marche</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <% for x in @targets do %>
      <tr>
        <td class="registration"><%= link_to(x.registration, x) %></td>
        <td class="type"><%= link_to(x.plane_type.name, x.plane_type) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
