<h2>Registrazione nuovo aliante</h2>
<% form_tag '', { :class => 'standard', :method => :post } do |f| -%>
  <%= hidden_field_tag :state, @state.to_json %>
  <table class="form">
    <tr>
      <th><%= label_tag :plane_type_id, 'Tipo' %></th>
      <td>
<%= select_tag :plane_type_id,
                options_for_select(
                   PlaneType.order('name ASC').collect { |p|
                      [ p.name, p.id ] }), {}
%>
      </td>
    </tr>
    <tr>
      <td colspan=2 class="submit">
        <%= submit_tag 'Avanti >>' %>
      </td>
    </tr>
  </table>
<% end -%>
