
<% if !@pilots.empty? then %>
  <table class="standard pilots">
    <caption>Piloti</caption>
    <tr>
      <th>Nome</th>
<!--      <th>Classifiche</th>-->
    </tr>
    <% for x in @pilots do %>
    <tr>
      <td class="name">
        <%= link_to(x.person.name, x) %>
      </td>
      <td class="rankings">
        <% x.championships.each do |y| %>
          <%= link_to((y.icon ?
                 image_tag(y.icon, :alt => y.name, :title => y.name) :
                 y.name), y) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

