<div class="body_contents">
<% if !@targets.empty? then %>
  <table class="standard pilots">
    <caption>Piloti</caption>
    <tr>
      <th>Nome</th>
      <th>Club</th>
    </tr>
    <% for x in @targets do %>
    <tr>
<% if authenticated_admin? %>
      <td class="id">
        <%= x.person.id %>
      </td>
<% end %>
      <td class="name">
        <%= link_to(x.person.name, x) %>
      </td>
      <td class="club">
        <%= x.club.name %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
</div>
