
div#header
{
 height: 74px;
 background: #3695cd url(../../images/csvva/header.jpg) no-repeat left top;
}

div#header > div#text
{
 display: none;
}

div.header > div#right_text
{
 font-size: 150%;
}

div#body
{
 top: 74px;
}

div#menu
{
 position: absolute;
 width: 163px;
 top: 74px;
 background: #97cce9 url(../../images/csvva/menu_sky.jpg) no-repeat left top;
 font-weight: bold;
}

div#menu div.logo
{
 margin: 1em;
 text-align: center;
}

div#menu ul
{
 list-style-type: none;
 padding: 1em;
 margin: 0;
}

div#menu ul > li
{
}

div#menu ul > li:hover
{
 list-style-type: circle;
}

div#menu ul > li a:hover
{
 color: #700;
 background-color:  transparent;
}

div.csvva_tag
{
}
