<div id="list_div" style="display: none"></div>
<div id="info_div" style="display: none"></div>
<div id="upload_div">
<%= render :partial => "upload_form" %>
</div>
<div id="edit_div" style="display:none"></div>
