<div class="cp">
  <div class="logo">
    <%= link_to image_tag('cid/logo_16.png', :class => 'logo'), csvva2009.championship %><br />
  </div>
  <div class="container">
    <div class="title"><%= csvva2009.championship.name %></div>
    <div class="body">
      Categoria: <%= csvva2009.csvva_pilot_level %>
    </div>
  </div>
</div>
