<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
<script language="javascript" type="text/javascript">
  window.top.window.upload_failed('<%=escape_javascript @message %>');
</script>
</body>
