<% Championship.where('now() BETWEEN valid_from AND valid_to').order('created_at DESC').all.each do |cship| %>
  <h1><%= cship.name %></h1>
  <p>
    Voli: <%= cship.flights.count %><br />
    <% pending = cship.flights.joins(:championship_flights).where('championship_flights.status=\'pending\'') %>
    <% if pending.all.count > 0 %>
      <h2>Voli da verificare</h2>
      <%= render :partial => 'flights/flights', :object => pending %>
    <% end %>
  </p>
<% end %>
