<div class="body_contents">
<% Championship.where('now() BETWEEN valid_from AND valid_to').order('created_at DESC').all.each do |cship| %>
  <h1><%= cship.name %></h1>
  <p>
    Voli: <%= cship.flights.count %><br />
    <% pending = cship.flights.joins(:championship_flights).where('championship_flights.status=\'pending\'').order(:takeoff_time) %>
    <% if pending.all.count > 0 %>
      <h2>Voli da verificare</h2>
      <% begin %>
        <%= render :partial => "flights/#{cship.symbol}/flights", :object => pending %>
      <% rescue ActionView::Template::Error %>
        <%= render :partial => 'flights/flights', :object => pending %>
      <% end %>
    <% end %>
  </p>
<% end %>
</div>
