<ul>
  <li>
     <a href="mailto:voli@csvva.it">Invio voli</a>
  </li>
  <li>
     Megasegretario Generale: <a href="mailto:segretario@csvva.it">Giuseppe Giussani</a>
  </li>
  <li>
     Webmaster: <a href="mailto:daniele@orlandi.com">Daniele Orlandi</a>
  </li>
</ul>
