<h1>Regolamento CAMPIONATO CSVVA</h1> Edizione 2010

<h2>DESCRIZIONE</h2>
<p>
Il Campionato CSVVA edizione 2010 si compone del Campionato CSVVA di distanza, del Campionato CSVVA di Velocità e del
 Trofeo Francesco Tamborini.
</p>

<h2>SCOPO</h2>
<p>
Promuovere il volo di distanza e di velocità nelle Alpi e designare i campioni 2010 del CSVVA. 
</p>

<h2>PARTECIPANTI</h2>
<p>
Possono partecipare alla gara tutti i piloti Italiani e Stranieri regolarmente iscritti all’ACAO.
</p>

<h2>ISCRIZIONI</h2>
<p>
L’iscrizione al Campionato CSVVA è gratuita ed avviene automaticamente con l’invio della prima documentazione di volo.
</p>

<h2>ALIANTI</h2>
<p>
Sono ammessi tutti i tipi di alianti e alianti motorizzati, mono e biposto in classe unica differenziati per handicap FAI.
 Tutti i tipi di alianti motorizzati devono azionare il motore almeno un minuto prima della partenza a dimostrazione del non 
utilizzo del motore durante la prestazione volovelistica. 
</p>
<p>
Nel caso dei biposto il volo verrà assegnato sempre al pilota in comando. Qualora il 2° pilota appartenga ad una categoriai
 superiore al 1° pilota il volo verrà assegnato sempre al pilota più titolato purché ne venga fatta espressa richiesta entroi
 una settimana dalla presentazione altrimenti il volo non sarà tenuto valido per nessuno dei due piloti.
</p>

<h2>CAMPIONATO CSVVA DI DISTANZA</h2>
<p>
Per questo campionato i piloti vengono suddivisi in 4 categorie: 
<ul>
<li>JUNIOR: piloti non nazionali che all’invio del primo volo NON ABBIANO raggiunto le 300 ore di volo</li>
<li>EXPERT: piloti non nazionali che all’invio del primo volo ABBIANO superato le 300 ore di volo</li>
<li>MASTER: piloti di categoria nazionale</li>
<li>SUPER MASTER: piloti di categoria nazionale che risultano essere nei primi 10 di almeno un algoritmo nazionale di classe del 2009 (www.fivv.org)</li>
</ul>
<p>
Ogni pilota partecipante al campionato può chiedere di essere ammesso a partecipare a una categoria superiore a quella di appartenenza. 
</p>
<p>
Il punteggio di ogni concorrente nella rispettiva classifica è dato dalla somma dei punteggi dei 6 migliori voli presentati. 
</p>
<p>
I singoli voli saranno valutati tramite il software See You (versione 3.81). Il punteggio di ogni volo sarà calcolato dividendo
i km risultanti volati attorno a un massimo di 3 punti di virata per l’handicap relativo all’aliante usato (i coefficienti di
 handicap sono quelli riportati sul sito della FIVV). Il punteggio così ottenuto viene arrotondato al valore intero.
 Verranno considerati validi solo i voli con una distanza percorsa corretta di almeno 50 km.
</p>
<p>
Tutti i voli sono considerati “liberi” cioè senza pre-dichiarazione e sono valutati con il criterio sopra esposto. Per dubbi 
concernenti la valutazione dei voli si rimanda al regolamento CID 2008.
</p>
<p>
In ogni categoria con almeno 8 partecipanti verrà nominato un campione CSVVA di distanza. Qualora non si raggiungesse il
 numero minimo nelle categorie dei piloti non nazionali, le categorie junior, expert e master potranno essere accorpate.
</p>
<p>
I vincitori delle categorie Junior ed Expert verranno automaticamente promossi alla categoria superiore per l’edizione
 successiva del Campionato.
</p>

<h2>CAMPIONATO CSVVA DI VELOCITà</h2>
<p>
In via sperimentale viene proposto quest’anno il campionato CSVVA di velocità riservato ai piloti delle sole categorie Master e
Supermaster che concorreranno in un’unica categoria.
</p>
<p>
Come per il Campionato CSVVA di distanza, il punteggio di ogni concorrente nella classifica è dato dalla somma dei punteggi dei
 6 migliori voli presentati. Il punteggio di ogni volo è determinato dalla massima velocità media conseguita durante il volo in
 un tempo pari a 2,5 ore, corretta con l’handicap dell’aliante usato. Più precisamente le regole per la determinazione del
 punteggio sono quelle della competizione Speed-OLC 2010 sotto sintetizzate (si veda anche il punto 4 delle 
<a href="http://www.onlinecontest.org/olc-2.0/gliding/plainJsp.html?prefix_jsp=rules">League Rules</a>).
</p>
<p>
La distanza è calcolata con le regole dell’OLC-Classic. Il punto di partenza e il punto di arrivo sono posizionati in modo che 
la somma delle distanze percorse dal pilota tra i due punti sia massima.
</p>
<p>
Il punto di arrivo può distare al massimo 150 minuti (2,5 h) dal punto di partenza.
Il punto di partenza e il punto di arrivo devono essere registrati nel file IGC come fix validi.
I punti di virata possono essere al massimo 3 e devono collocarsi tra il punto di partenza e il punto di arrivo.
La quota del punto di partenza non può essere maggiore della quota del punto di arrivo.
</p>
<p>
La velocità media corretta (punteggio) di ogni volo è la somma delle distanze in km dal punto di partenza al punto di arrivo intorno a un massimo di tre punti di virata diviso per 2,5 ore e corretta con l’handicap dell’aliante usato. In formula si ha (per handicap si intende in questo caso il DAeC Index del sistema OLC):
</p>
<p>
Punteggio = distanza (km) / 2,5 h * 200 / (handicap aliante + 100)
</p>
<p>
Verranno considerati solo i voli con una velocità media superiore ai 20 km/h.
</p>
<p>
Con almeno 8 partecipanti il vincitore verrà nominato campione CSVVA di velocità.
</p>

<h2>TROFEO FRANCESCO TAMBORINI</h2>
<p>
Il trofeo, aperto a tutti i piloti ACAO, sarà assegnato al pilota che avrà consegnato il maggior numero di voli validi.
Il concorrente che vincerà il trofeo per tre volte anche non consecutive, si aggiudicherà definitivamente il trofeo. 
</p>

<h2>VOLI</h2>
<p>
Per entrambi i Campionati e per il Trofeo verranno presi in considerazione solo i voli effettuati dal 27 febbraio al 30 settembre 2010 con decollo da Calcinate.
I voli possono essere controllati unicamente con il registratore di volo (logger). Pertanto tutti gli alianti dovranno essere dotati di apposito registratore. 
Lo stesso volo può essere usato contemporaneamente per entrambi i Campionati e per il Trofeo e può essere utilizzato anche per altre gare quali OLC/CID. 
</p>

<h2>DIREZIONE GARA</h2>
<p>
La Direzione di Gara è composta dai seguenti piloti: 
<ul>
<li>Ercole ROSSI</li>
<li>Alberto SIRONI</li>
<li>Giuseppe GIUSSANI</li>
</ul>
</p>

<h2>INVIO DEI VOLI E CLASSIFICHE PROVVISORIE</h2>
<p>
Per il Campionato CSVVA di distanza e per il Trofeo Francesco Tamborini le registrazioni IGC dei voli possono essere inviati
via mail all'indirizzo: <a href="mailto:campionatocsvva@fastwebnet.it">campionatocsvva@fastwebnet.it</a> oppure possono essere
consegnati fisicamente a Giuseppe Giussani (NON alla segreteria dell’ACAO) entro e non oltre 6 (sei) giorni dalla data di
effettuazione del volo. Le classifiche provvisorie saranno pubblicate sul sito <a href="http://www.acao.it/">www.acao.it</a>
</p>
<p>
Per il Campionato CSVVA di velocità i voli devono invece essere inviati al
<a href="http://www.onlinecontest.org/olc-2.0/gliding">sistema OLC</a>
entro le ore 24:00 del martedì successivo al giorno in cui si è effettuato il volo. I concorrenti devono quindi essere registrati
al sito OLC (per la registrazione seguire le istruzioni riportate sul sito della FIVV).
La classifica provvisoria sarà pubblicata e costantemente aggiornata
<a href="http://www.onlinecontest.org/olc-2.0/gliding/champion.html?filter=&amp;rt=olc&amp;aa=CALCI1&amp;cc=2937&amp;c=IT&amp;sc=&amp;st=olc-league&amp;sp=2010">sul sito dell’OLC</a>
</p>

<h2>PREMIAZIONE</h2>
<p>
Per ogni categoria del Campionato CSVVA di Distanza e per il Campionato CSVVA di Velocità verranno consegnati i seguenti premi:
<ul>
<li>Medaglia ORO al primo classificato, campione CSVVA 2010.</li>
<li>Medaglia ARGENTO al secondo classificato.</li>
<li>Medaglia BRONZO al terzo classificato.</li>
</ul>
</p>
<p>
Per il Trofeo Francesco Tamborini verrà invece consegnato il Trofeo al solo pilota vincitore.
A tutti i partecipanti al Campionato CSVVA verrà consegnato un premio di partecipazione. 
La premiazione avverrà nel corso della cena annuale dell’ACAO a Calcinate. 
</p>

<h2>INSEGNE</h2>
<p>
Il Centro Studi ricorda a tutti i piloti dell’ACAO che per ogni insegna conseguita verrà riconosciuta una scheda di bollini
in omaggio.
</p>
<p>
Si ricorda anche che per il C d’ARGENTO (5 ore, 50 km, guadagno di quota di 1.000 m) occorrono minimo 2 voli.
Si raccomanda infine di leggere attentamente i documenti relativi alle insegne (istruzioni e moduli per la dichiarazione)
pubblicati nella sezione “attività sportiva” del sito <a href="http://www.fivv.org/">www.fivv.org</a>.
</p>

<h2>PENALITÀ E RESPONSABILITÀ</h2>
<p>
Ogni pilota comandante che partecipa alla competizione ha il compito e la responsabilità di rispettare le regole dell'aria e la 
normativa sugli spazi aerei. La Direzione di Gara non ha il compito di verificare il rispetto di tali regole. Eventuali
trasgressioni accertate potranno tuttavia essere sanzionate dalla Direzione di Gara con punti di penalità,
annullamento del volo o squalifica del concorrente in funzione della gravità dell’infrazione. Le decisione della
Direzione di Gara sono insindacabili.
</p>
<p>
Il CSVVA e l’ACAO declinano ogni responsabilità per danni che possano derivare a persone o cose in conseguenza della competizione.
L’iscrizione di un pilota al Campionato presuppone l’accettazione incondizionata di questo regolamento.
</p>
<p>
Calcinate, 17 febbraio 2010
</p>
