<%= link_to 'Ritorna alla pagina del volo', @flight %>
<br />
<br />
<br />
Log:<br />
<div style="font-size: 75%; background-color: #eee;">
<% @messages.each do |message| %>
  <%= h message %><br />
<% end %>
</div>

