<div class="cp">
  <div class="logo">
    <%=image_tag('cid/logo_16.png', :class => 'logo')%><br />
  </div>
  <div class="container">
    <div class="title"><%= cp.championship.name %></div>
    <div class="body">
      Categoria: <%= cp.cid_category == 'prom' ? 'Promozione' : 'Nazionale' %>
    </div>
  </div>
</div>
