<div class="body_contents">
<% if !@targets.empty? then %>
  <table class="table table-striped pilots">
    <caption>Piloti</caption>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Club</th>
      </tr>
    </thead>
    <tbody>
      <% for x in @targets do %>
      <tr>
        <td class="name">
          <%= link_to(x.name, x) %>
        </td>
        <td class="club">
          <%= x.club ? x.club.name : nil %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
