<h1>Regolamento e documenti</h1>

<ul>
  <li><%= link_to 'Regolamento CID 2012', '/cid/Regolamento CID 2012.pdf' %></li>
  <li><%= link_to 'Allegato A - Lista dei club', '/cid/Allegato A.club.pdf' %></li>
  <li><%= link_to 'Allegato B - Handicap', '/cid/Allegato B.handicaps.pdf' %></li>
  <li><%= link_to 'Allegato C - Procedura invio voli', '/cid/Allegato C.invio voli.pdf' %></li>
</ul>
