<h1 style="text-align: center">Benvenuto al Campionato Italiano Recordman</h1>
<div style="text-align: center">
<%= content_tag(:object, "",
                :type => "image/svg+xml",
                :data => image_path("cir/logo_cir.svg"),
                :width => "65%", :height => "65%",
                :style => "") %>
</div>
