<% form_tag '', { :class => 'standard', :method => :post } do |f| -%>
  <%= hidden_field_tag :state, @state.to_json %>
  <table class="form">
    <tr>
      <th><%= label_tag :fqda, 'e-Mail' %></th>
      <td><%= text_field_tag :fqda %></td>
    </tr>
    <tr>
      <td colspan=2 class="submit">
        <%= submit_tag 'Recupera password' %>
      </td>
    </tr>
  </table>
<% end -%>
