
<div id="password-recovery-dialog" title="Recupero Password" style="display: none">
  <div id="password-recovery-dialog-alert" class="freeow freeow-center" style="position: absolute"></div>
  <form class="ui-widget">
    <table>
      <tr>
        <th><label for="fqda">e-Mail</label></th>
        <td><input type="text" name="fqda" id="fqda"></td>
      </tr>
    </table>
  </form>
</div>

<script type="text/javascript">
//<![CDATA[
$(function() {

  $("#password-recovery-dialog").dialog({
    autoOpen: false,
    width: 500,
    height: 200,
    modal: true,
    buttons: {
      'Ok': function() {
        $.ajax({
          url: '<%= csvva_registration_recover_password_path %>',
          dataType: 'json',
          type: 'POST',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({ fqda: $('#fqda').val() }),
          success: function(data) {
            if (data.success) {
              $('#password-recovery-dialog').dialog('close');
              $("#freeow").freeow("Password inviata", "La password ti è stata inviata per e-Mail");
            } else {
              $("#password-recovery-dialog-alert").freeow("Errore", data.error);
            }
          },
        });
      },
      'Annulla': function() {
        $(this).dialog("close");
      }
    },
  });
});
//]]>
</script>

<div id="login-dialog" title="Login" style="display: none">
  <div id="login-dialog-error" title="Error" style="display: none"></div>
  <form id="login-dialog-form" class="ui-widget" target="login_iframe" onSubmit="return false;">
    <table>
      <tr>
        <th><label for="username">e-Mail</label></th>
        <td><input type="text" name="username" id="username" size="35"></td>
      </tr>
      <tr>
        <th><label for="password">Password</label></th>
        <td><input type="password" name="password" id="password" size="20"></td>
      </tr>
    </table>
    <input type="submit" name="login-dialog-submit" id="login-dialog-submit" style="display: none"  />
  </form>
  <%= link_to_function 'Ho dimenticato la password', "jQuery('#password-recovery-dialog').dialog('open')" %><br />
  <iframe id="login_iframe" name="login_iframe" style="display: none;"></iframe>
</div>

<script type="text/javascript">
//<![CDATA[

$(function() {
  $('#login-dialog-error').dialog({
    autoOpen: false,
    modal: true,
    buttons: { Ok: function() { $(this).dialog( "close" ); } },
  });

  $("#login-dialog").dialog({
    autoOpen: false,
    width: 350,
    height: 180,
    modal: true,
    buttons: {
      'Ok': function() {
        $('.ui-dialog-buttonpane').spinner({ position: 'center', hide: true });

        $.ajax({
          url: '<%= ygg_asgard_session_authenticate_by_fqda_and_password_path %>',
          dataType: 'json',
          type: 'POST',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({ username: $('#username').val(), password: $('#password').val() }),
          success: function(data) {
            $('.ui-dialog-buttonpane').spinner('remove');

            if (data.authenticated) {
              $('#login-dialog-submit').click();
              $('#login-dialog').dialog('close');
              window.location = '<%= static_path('user_home') %>';
            } else {
              $('#login-dialog-error').html('Username o password errati');
              $('#login-dialog-error').dialog('open');
            }
          },
          error: function(data) {
            $('.ui-dialog-buttonpane').spinner('remove');
            $('#login-dialog-error').html('Errore di comunicazione');
            $('#login-dialog-error').dialog('open');
          }
        });
      },
      'Annulla': function() {
        $(this).dialog("close");
      }
    },
  });
});
//]]>
</script>
